* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    display: grid;
    /*  grid-template-columns: repeat(3, 1fr); <-------- SOLVED */
    grid-template-columns: minmax(100px, 350px) 1fr minmax(100px, 350px);
    margin: 0 auto;
    gap: 10px;
    padding: 10px;
    background: orange;
}