main{
    margin: 0;
    padding: 0;
}

 .contianer {
     width: 67%;
    display: grid;
    /* grid-template-columns: repeat(3, 33%); */
    grid-template-columns: minmax(100px, 350px) 1fr minmax(100px, 350px);
    grid-gap: 12px;
    padding: 10px;

 }
 .contianer img {
     width: 150px;
     height: 150px;
 }